<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}
    </head>

{% block body %}
<div class="relative w-screen h-screen overflow-hidden py-6 flex flex-col justify-center sm:py-12">
    <!-- Iframe YouTube -->
    {# <iframe
        class="absolute top-[-60px] left-0 w-full h-[calc(100%+100px)] object-cover"
        src="https://www.youtube.com/embed/PARfU2Vi694?autoplay=1&controls=0&modestbranding=1&rel=0&showinfo=0&mute=1&start=7"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe> #}
    <div id="player" class="pointer-events-none absolute top-[-59px] left-0 w-full h-[calc(100%+100px)] object-cover"></div>
    <!-- Superposition du formulaire -->
    {# <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white bg-opacity-90 p-8 rounded-lg shadow-lg w-[90%] max-w-md">
        <h2 class="text-2xl font-bold text-center mb-4">CDA CORP</h2>
            <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputPseudo">Pseudo: </label>
            <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe: </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </form>
    </div> #}
{#     <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-sky-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">

      <div class="max-w-md mx-auto">
        <div>
          <h1 class="text-2xl font-semibold">CDA CORPORATION</h1>
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <div class="relative">
              <input autocomplete="off" id="email" name="email" type="text" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
              <label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
            </div>
            <div class="relative">
              <input autocomplete="off" id="password" name="password" type="password" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Password" />
              <label for="password" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Password</label>
            </div>
            <div class="relative">
              <button class="bg-cyan-500 text-white rounded-md px-2 py-1">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex justify-center">
        <button class="flex items-center bg-white border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="-0.5 0 48 48" version="1.1"> <title>Google-color</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Color-" transform="translate(-401.000000, -860.000000)"> <g id="Google" transform="translate(401.000000, 860.000000)"> <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05"> </path> <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335"> </path> <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853"> </path> <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4"> </path> </g> </g> </g> </svg>
          <span>Continue with Google</span>
        </button>
      </div>

    </div>
  </div> #}
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
  <div class="absolute inset-0 bg-gradient-to-r from-blue-900 to-sky-700 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
  <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">

    <div class="max-w-md mx-auto">
      <div>
        <h1 class="text-2xl font-semibold">CDA CORPORATION</h1>
      </div>
      <div class="divide-y divide-gray-200">
        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

          <!-- Formulaire avec classes pour div uniquement -->
          <form method="post" action="{{ path('app_login') }}">
            {% if error %}
            <div class="alert alert-danger text-red-500">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3 text-green-600">
              You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="underline text-blue-500">Logout</a>
            </div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="relative">
              <input
                autocomplete="off"
                id="inputPseudo"
                name="pseudo"
                type="text"
                value="{{ last_username }}"
                class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-sky-500"
                placeholder="Pseudo"
                required
                autofocus>
              <label
                for="inputPseudo"
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                Pseudo
              </label>
            </div>

            <div class="relative mt-6">
              <input
                autocomplete="off"
                id="inputPassword"
                name="password"
                type="password"
                class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-sky-500"
                placeholder="Mot de passe"
                required>
              <label
                for="inputPassword"
                class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                Mot de passe
              </label>
            </div>

            <div class="mt-6">
              <label class="inline-flex items-center">
                <input type="checkbox" name="_remember_me" class="rounded text-sky-500 border-gray-300 focus:ring-sky-500">
                <span class="ml-2 text-gray-700">Se souvenir de moi</span>
              </label>
            </div>

            <div class="relative mt-6">
              <button class="bg-blue-900 text-white rounded-md px-4 py-2 w-full hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                Connexion
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

</div>

<script>
    const tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    const firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    let player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: 'PARfU2Vi694',
            playerVars: {
                autoplay: 1,
                controls: 0,
                modestbranding: 1,
                rel: 0,
                mute: 1,
                start: 6,
                cc_load_policy: 0,
                hl: 'en',
            },
            events: {
                onReady: (event) => {
                    const track = {};
                    event.target.setPlaybackQuality('highres');
                    player.setOption('captions', 'track', track);
                }
                
            },
            events: {
                onStateChange: onPlayerStateChange
            },
        });
    }
    function onPlayerStateChange(event) {
        if (event.data === YT.PlayerState.ENDED) {
            player.seekTo(0); // Seek to the beginning of the video
            player.playVideo(); // Start playing the video again
        }
    }
</script>

{% endblock %}
