{% extends 'base.html.twig' %}

{% block title %}MasterOfDestiny index{% endblock %}

{% block body %}
<p class="flex justify-center w-full gap-2 pt-4 font-extrabold text-2xl md:text-3xl">
            <span>Les Maîtres de La Destinée</span>

            <svg class="w-8 h-8 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z">
                </path>
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z">
                </path>
            </svg>
        </p>
        {% for master_of_destiny in master_of_destinies %}
    <div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-10 bg-white shadow-xl rounded-lg text-gray-900">
        
        <div class="rounded-t-lg h-32 overflow-hidden">
            <img class="object-cover object-top w-full" src='https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='Mountain'>
        </div>
        <div class="mx-auto w-32 h-32 relative -mt-16 border-4 border-white rounded-full overflow-hidden">
            <img class="object-cover object-center h-32" src='https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='Woman looking front'>
        </div>
        <div class="text-center mt-2">
            <h2 class="font-semibold">{{ master_of_destiny.name }}</h2>
            <p class="text-gray-500">{{ master_of_destiny.pseudo }}</p>
        </div>
        <ul class="py-4 mt-2 text-gray-700 flex items-center justify-around">
            <li class="flex flex-col items-center justify-around">
                <svg class="w-4 fill-current text-blue-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <div>{{ master_of_destiny.id }}</div>
            </li>
        </ul>
        <div class="p-4 border-t mx-8 mt-2">
            <a class="w-max block mx-auto rounded-full bg-gray-900 hover:shadow-lg font-semibold text-white px-6 py-2" href="{{ path('admin_app_mod_show', {'id': master_of_destiny.id}) }}">Voir Plus</a>
        </div>
        
    </div>
    {% endfor %}
        <a class="mt-5 w-max block mx-auto rounded-full bg-blue-900 hover:shadow-lg font-semibold text-white px-6 py-2" href="{{ path('admin_app_mod_new') }}">Créer un maître</a>


</html>

{% endblock %}
