{% extends 'base.html.twig' %}

{% block title %}MasterOfDestiny{% endblock %}

{% block body %}
<div class="h-min px-10">
  <div class="w-full bg-white shadow-xl rounded-3xl">
    <div class="ml-2 mt-10 flex justify-center mb-5 ">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKN2MjSr0slVb3jxwjrIuBaAaqo669IBIKxw&usqp=CAU" class="rounded-full" alt="" />
    </div>
    <div class="flex justify-center px-5 ">
      <div class="border-b-2 border-gray-500 w-full"></div>
    </div>
    <h1 class="text-center text-black text-4xl font-serif">
        {{ master_of_destiny.name }}
        {{ master_of_destiny.pseudo }}
    </h1>
    <div class="flex justify-center text-center p-5">
      <p>"I'm Jane Hong, and I recently graduated with an advanced diploma from Smith secondary school. I'm seeking an
        internship where I can apply my skills in content creation and increase my experience in digital marketing."</p>
    </div>
    <div class="flex justify-center gap-4 p-5">
      <a href="{{ path('admin_app_mod_edit', {'id': master_of_destiny.id}) }}" class="text-center py-3 bg-blue-800 font-semibold text-white w-1/4 rounded-xl hover:bg-blue-900">Modifier</a>
      <a href="{{ path('admin_app_mod_index') }}" class="text-center py-3 bg-gray-500 font-semibold text-white w-1/4 rounded-xl hover:bg-gray-600">Retour</a>
    </div>
  </div>
</div>
<div class="bg-red-500 hover:bg-red-700 w-min p-2 rounded-md ml-4 mt-4">
        {{ include('master_of_destiny/_delete_form.html.twig') }}
</div>
</html>


{% endblock %}
